/* Пропиши стилі для body (font-family, color та background-color) */

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  background-color: white;
  color: var(--navy-blue);
}

/* Пропиши CSS-правила для скидання дефолтного підкреслення для посилань та маркерів у списках. */

a: hover {
  text-decoration: none;
}
