/* :root {
<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum sapiente natus incidunt vel et praesentium vero neque temporibus saepe ex aliquam esse necessitatibus possimus, debitis dolorem impedit exercitationem, facere quam beatae. Magni sunt cum rem voluptates odit praesentium, fugit voluptatum asperiores quasi quo illo obcaecati, illum est earum quis perspiciatis id doloremque! Eos, iusto modi dolorum possimus obcaecati dolores amet eligendi incidunt deserunt, ipsum neque. Neque, voluptas, a ipsa adipisci repellendus numquam odit, velit repellat esse debitis sed tenetur dignissimos necessitatibus quaerat dolore praesentium tempore laboriosam? Quae, assumenda molestias. Nostrum, excepturi! Est unde doloremque, impedit voluptatem vel voluptas doloribus aliquid consequuntur perferendis cumque voluptate explicabo atque dignissimos in illo. Assumenda, laborum iure. Consequuntur vel consequatur eligendi harum molestias dolorum dolorem laudantium iste sed ipsum accusamus asperiores id adipisci, vitae veniam labore libero quos! Explicabo pariatur odio, hic molestiae nemo mollitia, sit illum tempore a rerum est iure consectetur asperiores fugit soluta aliquam aperiam minus nobis laborum, quam vitae praesentium voluptate dolor aliquid? Iste expedita dolorem perspiciatis, nihil animi iure quos neque quod ad? Repellat labore voluptates reprehenderit obcaecati, ex atque eveniet maiores tenetur, molestiae ab, incidunt adipisci! Fugit modi enim dicta suscipit vitae inventore nobis facere, hic nam laboriosam? -->
  */

/* Style guide colors */
--iris: #4d5ae5; /* Primary Brand - CTAs, Focused, Active states links*/
--ocean: #404bbf; /* Pressed state - CTAs */
--navy-blue: #2e2f42; /* Dark - Overlays, Shadows, Headings */
--green: #31d0aa; /* Success - Valid fields, Success messages */
--slate: #434455; /* Body text */
--slate-lite: #8e8f99; /* Subtle text - Helper text, Deemphasized text*/
--cornflower: #e7e9fc; /* Accent - Accent color, Hairlines Subtle Backgrounds */
--cloud: #f4f4fd; /* Light - Light mode backgrounds, Light mode Dialogs/alerts */
--navy-blue-modal: #2e2f4266; /* Modal overlay rgba(46, 47, 66, 0.4)*/
--grey: #2e2f42b3; /* Hero background rgba(46, 47, 66, 0.7)*/
--white: #fff; /* Header, team card background */
--dairy: #fcfcfc; /* Modal background */

body {
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.mainlogo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
}

.mainlogo-header-studio-part {
  color: var(--navy-blue);
}

.mainlogo-footer-studio-part {
  color: var(--cloud);
}

.header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}

.header-nav:hover,
.header-nav:focus {
  color: var(--ocean);
}

.header-nav:active {
  text-decoration: underline;
}

.header-adress {
  font-style: normal;
}

.header-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
  font-style: normal;
}

.header-contacts:hover,
.header-contacts:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ocean);
  text-decoration: none;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.font-medium {
  font-weight: medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

.font-small {
  font-weight: regular;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 4%;
}

.benefits {
  background: var(--navy-blue);
}
.benefits-headline {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  border: none;
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background: var(--ocean);
}

.benefit-item-title {
  text-align: left;
  color: var(--navy-blue);
}

.benefit-item-text {
  text-align: left;
}

.our-team {
  background-color: var(--cloud);
}

.team-title {
  color: var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
}

.team-member {
  background-color: var(--white) fff;
}

.team-member-name {
  color: var(--navy-blue);
  text-align: center;
}

.team-member-job-title {
  color: var(--slate);
  text-align: center;
}

.portfolio-title {
  color: var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
}

.product-pic {
}

.product-name {
  text-align: left;
  color: var(--navy-blue);
}

.product-desc {
  text-align: left;
  color: var(--slate);
}

.footer {
  background: var(--navy-blue);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  text-align: left;
}
